[package]
name = "created-swarm"
version = "0.1.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
test-constants = { path = "../test-constants" }
config-utils = { path = "../config-utils" }
server-config = { path = "../server-config" }
fluence-libp2p = { path = "../libp2p" }
particle-node = { path = "../../particle-node" }
particle-protocol = { path = "../../particle-protocol" }
aquamarine = { path = "../../aquamarine" }
connection-pool = { path = "../../connection-pool" }
script-storage = { path = "../../script-storage" }
fs-utils = { path = "../fs-utils" }
air-interpreter-fs = { path = "../air-interpreter-fs" }
builtins-deployer = { path = "../builtins-deployer" }
toy-vms = { path = "../toy-vms" }

fluence-keypair = { git = "https://github.com/fluencelabs/trust-graph", branch = "libp2p_version" }

libp2p = "0.42"

async-std = "1.9.0"
futures = "0.3.13"
derivative = "2.1.1"
serde_json = "1.0.68"
bs58 = "0.4.0"
serde = "1.0.130"
