version: '3.4'

services:
  fluence-node-1:
    container_name: fluence-node-1
    image: fluencelabs/node:latest
    environment:
      - TENDERMINT_IP=$DOCKER_IP
      - ETHEREUM_IP=$HOST_IP
      - SWARM_HOST=http://$HOST_IP:8500
      - CONTRACT_ADDRESS=$CONTRACT_ADDRESS
      - OWNER_ADDRESS=$OWNER_ADDRESS
    ports:
      # API port
      - 25100:5678
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${FLUENCE_STORAGE}/1:/master
  fluence-node-2:
    container_name: fluence-node-2
    image: fluencelabs/node:latest
    environment:
      - TENDERMINT_IP=$DOCKER_IP
      - ETHEREUM_IP=$HOST_IP
      - SWARM_HOST=http://$HOST_IP:8500
      - CONTRACT_ADDRESS=$CONTRACT_ADDRESS
      - OWNER_ADDRESS=$OWNER_ADDRESS
    ports:
      # API port
      - 25200:5678
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${FLUENCE_STORAGE}/2:/master
  fluence-node-3:
    container_name: fluence-node-3
    image: fluencelabs/node:latest
    environment:
      - TENDERMINT_IP=$DOCKER_IP
      - ETHEREUM_IP=$HOST_IP
      - SWARM_HOST=http://$HOST_IP:8500
      - CONTRACT_ADDRESS=$CONTRACT_ADDRESS
      - OWNER_ADDRESS=$OWNER_ADDRESS
    ports:
      # API port
      - 25300:5678
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${FLUENCE_STORAGE}/3:/master
  fluence-node-4:
    container_name: fluence-node-4
    image: fluencelabs/node:latest
    environment:
      - TENDERMINT_IP=$DOCKER_IP
      - ETHEREUM_IP=$HOST_IP
      - SWARM_HOST=http://$HOST_IP:8500
      - CONTRACT_ADDRESS=$CONTRACT_ADDRESS
      - OWNER_ADDRESS=$OWNER_ADDRESS
    ports:
      # API port
      - 25400:5678
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${FLUENCE_STORAGE}/4:/master
