version: '3.5'

services:
  fluence-node-1:
    container_name: fluence-node-1
    image: fluencelabs/node:$IMAGE_TAG
    environment:
      - LOG_LEVEL=DEBUG
      - BLOCK_UPLOADING_ENABLED=false
      - EXTERNAL_IP=$HOST_IP
      - API_PORT=$API_PORT
      - ETHEREUM_IP=$ETHEREUM_IP
      - IPFS_ADDRESS=$IPFS_ADDRESS
      - CONTRACT_ADDRESS=$CONTRACT_ADDRESS
      - OWNER_ADDRESS=$OWNER_ADDRESS
      - WORKER_MEMORY_LIMIT=400 # megabytes
      - WORKER_TAG=$IMAGE_TAG
      - WORKER_CPUS_LIMIT=2
      - DOCKER_HOST=tcp://docker-proxy:2375
    ports:
      - $API_PORT:5678
    volumes:
      - $FLUENCE_STORAGE:/master
    networks:
      # connects Fluence Node and IPFS containers
      - decentralized_storage_network
      - docker-proxy
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 350M
        reservations:
          memory: 300M

  docker-proxy:
    container_name: docker-proxy
    image: fluencelabs/docker-socket-proxy
    environment:
      - LOG_LEVEL=info
      - POST=1
      - PING=1
      - CONTAINERS=1
      - CONTAINERS_CREATE=1
      - ALLOW_RESTARTS=1
      - NETWORKS_CREATE=1
      - NETWORKS_CONNECT=1
      - NETWORKS_DISCONNECT=1
      - CONTAINERS_ATTACH=1
      - CONTAINERS_WAIT=1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - docker-proxy

networks:
  decentralized_storage_network:
      name: decentralized_storage_network
  docker-proxy:
      name: docker-proxy
