version: '3.5'

services:
  fluence-node-1:
    container_name: fluence-node-1
    image: fluencelabs/node:$IMAGE_TAG
    environment:
      - LOG_LEVEL=DEBUG
      - BLOCK_UPLOADING_ENABLED=false
      - EXTERNAL_IP=$HOST_IP
      - API_PORT=$API_PORT
      - ETHEREUM_IP=$ETHEREUM_IP
      - SWARM_ADDRESS=$SWARM_ADDRESS
      - IPFS_ADDRESS=$IPFS_ADDRESS
      - CONTRACT_ADDRESS=$CONTRACT_ADDRESS
      - OWNER_ADDRESS=$OWNER_ADDRESS
      - WORKER_MEMORY_LIMIT=400 # megabytes
      - WORKER_TAG=$IMAGE_TAG
      - WORKER_CPUS_LIMIT=2
    ports:
      # API port
      - $API_PORT:5678
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $FLUENCE_STORAGE:/master
    networks:
      # connects Fluence Node and IPFS containers
      - decentralized_storage_network
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 350M
        reservations:
          memory: 300M

networks:
  decentralized_storage_network:
      name: decentralized_storage_network
