target
**/target
**/**
**

!deploy/**

!target/release/particle-server
!target/x86_64-unknown-linux-gnu/release/particle-server
target/x86_64-unknown-linux-gnu/debug/particle-server

!target/release/fluence-ipfs
!target/x86_64-unknown-linux-gnu/release/fluence-ipfs
