# Scala compiled
target/

# Python compiled
*.pyc

# IntelliJ
.idea
.vscode
*.iml

# MacOS folder metadata
.DS_Store

# Text writing
*.scriv

# Temp
docs/checklist.md

# Rust SDK Cargo.lock
sdk/rust/Cargo.lock