# Scala compiled
target/

# Python compiled
*.pyc

# IntelliJ
.idea
.vscode
*.iml

# MacOS folder metadata
.DS_Store

# Text writing
*.scriv

# Temp
docs/checklist.md

# Node modules
node_modules
**/node_modules

# Fluence CLI binary
tools/deploy/fluence

# Contract typings and ABI
Network.d.ts
Network.json
Dashboard.d.ts