matrix:
  include:
    - language: scala
      scala: 2.12.7
      jdk: oraclejdk8

      services:
        - docker

      # These directories are cached to S3 at the end of the build
      cache:
        directories:
          - $HOME/.ivy2/cache
          - $HOME/.sbt/boot
          - $HOME/.sbt/launchers
          - bootstrap/node_modules

      before_install:
        - curl https://sh.rustup.rs -sSf | sh -s -- -y
        - ~/.cargo/bin/rustup toolchain install nightly
        - ~/.cargo/bin/rustup update
        - ~/.cargo/bin/rustup target add wasm32-unknown-unknown --toolchain nightly

      before_cache:
        # Cleanup the cached directories to avoid unnecessary cache updates
        - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
        - find $HOME/.sbt        -name "*.lock"               -print -delete

    - language: node_js
      node_js: v10.9.0
      before_install: cd bootstrap
      before_script: npm run ganache
      cache:
        directories:
            - bootstrap/node_modules

    - language: node_js
      node_js:
        - "5"
        - "6"
        - "7"
        - "8"
      before_install: cd js-client
      before_script: npm install
      script: npm test

    - name: Rust SDK
      language: rust
      # todo enable 'stable' and 'beta' when `allocator_api` will become stable
      rust: nightly
      cache: cargo
      before_install:
        - rustup component add rustfmt --toolchain nightly
        - cd sdk/rust

      script:
        - cargo fmt --all -- --check -v
        - cargo build -v --all-features
        - cargo doc -v --all-features
        - cargo test -v --all-features

    - name: LlamaDb VM example
      language: rust
      rust: nightly
      cache: cargo
      sudo: false
      before_install:
        - rustup component add rustfmt-preview --toolchain nightly
        - cd vm/examples/llamadb

      script:
        - cargo fmt --all -- --check -v
        - cargo build -v
        - cargo doc -v
        - cargo test -v

    - name: Fluence CLI
      language: rust
      rust: stable
      cache: cargo

      before_install:
        - rustup component add rustfmt-preview
        - cd cli

      script:
        - pushd ../bootstrap
        - npm install
        - npm run swarm-simulation &
        - npm run ganache > /dev/null
        - sleep 1
        - npm run migrate
        - popd
        - cargo fmt --all -- --check -v
        - cargo test
