_scala_fluence_template: &_scala_fluence_template
  language: scala
  scala: 2.12.9
  jdk: openjdk10

  install:
    - npm install node
    - node --version
    - npm --version
    - curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain nightly-2019-09-23
    - ~/.cargo/bin/rustup target add wasm32-unknown-unknown --toolchain nightly-2019-09-23

  # These directories are cached to S3 at the end of the build
  cache:
    npm: true
    cargo: true
    directories:
      - $HOME/.ivy2/cache
      - $HOME/.sbt/boot
      - $HOME/.sbt/launchers
      - bootstrap/node_modules
      - $HOME/.cargo
      - vm/src/it/recources/llama_db.wasm
      - vm/src/it/recources/llama_db_prepared.wasm

  before_cache:
    # Cleanup the cached directories to avoid unnecessary cache updates
    - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
    - find $HOME/.sbt        -name "*.lock"               -print -delete

git:
  submodules: false

matrix:
  include:
    # These tests take a lot of time and run only while PR
    - <<: *_scala_fluence_template
      name: Fluence integration tests
      before_install:
        - sudo docker run -d --privileged -p 1234:1234 --name buildkit moby/buildkit:latest --addr tcp://0.0.0.0:1234
        - sudo docker cp buildkit:/usr/bin/buildctl /usr/bin/
        - export BUILDKIT_HOST=tcp://0.0.0.0:1234
      before_script:
        - docker pull tendermint/tendermint:v0.32.2
        - wget -qc https://github.com/web3j/web3j/releases/download/v4.5.5/web3j-4.5.5.tar -O- | sudo tar -C /usr --strip-components=1 -x
      script:
        - export TRAVIS=true
        - PATH=$PATH:$HOME/.cargo/bin sbt ++$TRAVIS_SCALA_VERSION -J-Xms4096M -J-Xmx4096M compile test:compile it:compile
        - PATH=$PATH:$HOME/.cargo/bin sbt ++$TRAVIS_SCALA_VERSION it:test
      if: branch = master OR type = pull_request
