[workspace]
members = [
    "client/rust-libp2p",
    "trust-graph",
    "crates/libp2p",
    "crates/ctrlc-adapter",
    "crates/control-macro",
    "crates/waiting-queues",
    "crates/test-utils",
    "crates/config-utils",
    "crates/ivalue-utils",
    "crates/host-closure",
    "particle-server",
    "particle-actors",
    "particle-protocol",
    "particle-dht",
    "particle-services",
    "particle-closures",
    "particle-modules"
]
exclude = [
    "client/js-websocket/utils-wasm",
]

[patch.crates-io]
libp2p = { git = "https://github.com/fluencelabs/rust-libp2p", branch = "master" }
libp2p-core = { git = "https://github.com/fluencelabs/rust-libp2p", branch = "master" }

[patch.'https://github.com/fluencelabs/fluence']
trust-graph = { path = "trust-graph" }
