[workspace]
members = [
    "crates/libp2p",
    "crates/ctrlc-adapter",
    "crates/control-macro",
    "crates/waiting-queues",
    "crates/local-vm",
    "crates/uuid-utils",
    "crates/test-utils",
    "crates/fs-utils",
    "crates/log-utils",
    "crates/config-utils",
    "crates/service-modules",
    "crates/ivalue-utils",
    "crates/particle-args",
    "crates/json-utils",
    "crates/server-config",
    "crates/kademlia",
    "crates/async-unlock",
    "crates/now-millis",
    "crates/toml-utils",
    "crates/air-interpreter-fs",
    "crates/builtins-deployer",
    "crates/created-swarm",
    "crates/toy-vms",
    "crates/connected-client",
    "crates/test-constants",
    "particle-node/tests/builtins",
    "particle-node",
    "aquamarine",
    "particle-protocol",
    "particle-services",
    "particle-builtins",
    "particle-modules",
    "connection-pool",
    "script-storage",
    "particle-execution",
]
exclude = [
    "particle-node/tests/tetraplets",
]

[patch.crates-io]
fluence-keypair = { git = "https://github.com/fluencelabs/trust-graph", branch = "libp2p_version" }
fluence-app-service = { git = "https://github.com/fluencelabs/marine", branch = "no-mem-limits" }
fluence-faas = { git = "https://github.com/fluencelabs/marine", branch = "no-mem-limits" }

