[workspace]
resolver = "2"
members = [
    "crates/libp2p",
    "crates/control-macro",
    "crates/waiting-queues",
    "crates/local-vm",
    "crates/uuid-utils",
    "crates/test-utils",
    "crates/fs-utils",
    "crates/log-utils",
    "crates/config-utils",
    "crates/service-modules",
    "crates/ivalue-utils",
    "crates/particle-args",
    "crates/json-utils",
    "crates/server-config",
    "crates/cid-utils",
    "crates/kademlia",
    "crates/async-unlock",
    "crates/now-millis",
    "crates/toml-utils",
    "crates/air-interpreter-fs",
    "crates/created-swarm",
    "crates/toy-vms",
    "crates/connected-client",
    "crates/test-constants",
    "crates/peer-metrics",
    "crates/spell-event-bus",
    "crates/key-manager",
    "sorcerer",
    "crates/nox-tests",
    "nox",
    "aquamarine",
    "particle-protocol",
    "particle-services",
    "particle-builtins",
    "particle-modules",
    "connection-pool",
    "script-storage",
    "spell-storage",
    "particle-execution",
    "crates/system-services"
]
exclude = [
    "nox/tests/tetraplets",
]

[workspace.dependencies]
fluence-libp2p = { path = "crates/libp2p" }
control-macro = { path = "crates/control-macro" }
waiting-queues = { path = "crates/waiting-queues" }
local-vm = { path = "crates/local-vm" }
uuid-utils = { path = "crates/uuid-utils" }
test-utils = { path = "crates/test-utils" }
fs-utils = { path = "crates/fs-utils" }
log-utils = { path = "crates/log-utils" }
config-utils = { path = "crates/config-utils" }
service-modules = { path = "crates/service-modules" }
ivalue-utils = { path = "crates/ivalue-utils" }
particle-args = { path = "crates/particle-args" }
json-utils = { path = "crates/json-utils" }
server-config = { path = "crates/server-config" }
kademlia = { path = "crates/kademlia" }
async-unlock = { path = "crates/async-unlock" }
now-millis = { path = "crates/now-millis" }
toml-utils = { path = "crates/toml-utils" }
air-interpreter-fs = { path = "crates/air-interpreter-fs" }
created-swarm = { path = "crates/created-swarm" }
toy-vms = { path = "crates/toy-vms" }
connected-client = { path = "crates/connected-client" }
test-constants = { path = "crates/test-constants" }
peer-metrics = { path = "crates/peer-metrics" }
spell-event-bus = { path = "crates/spell-event-bus" }
key-manager = { path = "crates/key-manager" }
cid-utils = { path = "crates/cid-utils" }
sorcerer = { path = "sorcerer" }
nox = { path = "nox" }
aquamarine = { path = "aquamarine" }
particle-protocol = { path = "particle-protocol" }
particle-services = { path = "particle-services" }
particle-builtins = { path = "particle-builtins" }
particle-modules = { path = "particle-modules" }
connection-pool = { path = "connection-pool" }
script-storage = { path = "script-storage" }
spell-storage = { path = "spell-storage" }
particle-execution = { path = "particle-execution" }
system-services = { path = "crates/system-services" }

# spell
fluence-spell-dtos = "=0.5.15"
fluence-spell-distro = "=0.5.15"

# marine
fluence-app-service = "0.25.3"
marine-utils = "0.5.0"
marine-it-parser = "0.12.1"

# avm
avm-server = { version = "0.32.0" }
air-interpreter-wasm = { version = "0.41.0" }

# libp2p
libp2p = { version = "0.52.1", features = ["noise", "tcp", "dns", "websocket", "yamux", "tokio", "kad", "ping", "identify", "macros"] }
libp2p-core = { version = "0.40.0", default-features = false, features = ["secp256k1"] }
libp2p-metrics = "0.13.0"
libp2p-noise = "0.43.0"
libp2p-mplex = "0.40.0"
libp2p-swarm = "0.43.0"
libp2p-identity = "0.2.1"
libp2p-connection-limits = "0.2.0"
libp2p-kad = "0.44.1"
multihash = "0.19.0"
prometheus-client = "0.21.1"

eyre = "0.6.8"
base64 = "0.21.2"
bs58 = "0.5.0"
fluence-keypair = "0.10.3"
parking_lot = "0.12.1"
tokio = { version = "1.29.1", features = ["full", "tracing"] }
tokio-stream = { version = "0.1.14" }
tokio-util = { version = "0.7.8" }
uuid = { version = "1.3.2", features = ["v4"] }
derivative = "2.2.0"
serde_json = { version = "1.0.100", features = ["preserve_order"] }
fstrings = "0.2.3"
maplit = "1.0.2"
log = "0.4.19"
tracing = { version = "0.1.37", default-features = false, features = ["log"] }
tracing-subscriber = "0.3.17"
futures = "0.3.28"
thiserror = "1.0.43"
serde = "1.0.169"
toml = "0.5.10"
itertools = "0.11.0"
humantime-serde = "1.1.1"
cid = "0.10.1"
libipld = "0.16.0"

# Enable a small amount of optimization in debug mode
[profile.dev]
opt-level = 1

# Enable high optimizations for dependencies, but not for our code:
[profile.dev.package."*"]
opt-level = 3
codegen-units = 256

[profile.dev.package.clap]
debug-assertions = false

[profile.release]
strip = true
lto = false
codegen-units = 1 # Reduce number of codegen units to increase optimizations

[profile.profiling]
inherits = "release"
debug = true
strip = false
lto = false
