[package]
name = "aquamarine"
version = "0.2.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
particle-protocol = { path = "../particle-protocol"}

fluence-libp2p = { path = "../crates/libp2p" }
config-utils = { path = "../crates/config-utils" }
host-closure = { path = "../crates/host-closure" }
aquamarine-vm = "0.5.2"

libp2p = { package = "fluence-fork-libp2p", version = "0.34.2", features = ["tcp-tokio"] }

futures = "0.3.5"
log = "0.4.11"
async-std = { version = "1.6.5", features = ["unstable"] }
serde_json = "1.0.57"
parking_lot = "0.11.0"
chrono = "0.4.19"
base64 = "0.13.0"
thiserror = "1.0.24"
humantime = "2.1.0"
