[package]
name = "aquamarine"
version = "0.2.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
particle-protocol = { path = "../particle-protocol"}
particle-services = { path = "../particle-services"}
particle-builtins = { path = "../particle-builtins" }

now-millis = { path = "../crates/now-millis" }
fluence-libp2p = { path = "../crates/libp2p" }
config-utils = { path = "../crates/config-utils" }
particle-args = { path = "../crates/particle-args" }
control-macro = { path = "../crates/control-macro" }
fs-utils = { path = "../crates/fs-utils" }
peer-metrics = { path = "../crates/peer-metrics" }
particle-execution = { path = "../particle-execution" }

avm-server = { workspace = true }
libp2p = { workspace = true }

futures = "0.3.24"
log = "0.4.17"
async-std = { workspace = true }
serde_json = "1.0.85"
parking_lot = { workspace = true }
chrono = "0.4.22"
base64 = { workspace = true }
thiserror = "1.0.37"
humantime = "2.1.0"
anyhow = "1.0.65"
eyre = { workspace = true }
bytesize = "1.1.0"
