[package]
name = "aquamarine"
version = "0.2.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
particle-protocol = { path = "../particle-protocol"}
particle-services = { path = "../particle-services"}
particle-builtins = { path = "../particle-builtins" }

fluence-libp2p = { path = "../crates/libp2p" }
config-utils = { path = "../crates/config-utils" }
particle-args = { path = "../crates/particle-args" }
control-macro = { path = "../crates/control-macro" }
fs-utils = { path = "../crates/fs-utils" }
particle-execution = { path = "../particle-execution" }

avm-server = "0.13.0"
libp2p = "0.42"

futures = "0.3.13"
log = "0.4.11"
async-std = { version = "1.6.5", features = ["unstable"] }
serde_json = "1.0.64"
parking_lot = "0.11.0"
chrono = "0.4.19"
base64 = "0.13.0"
thiserror = "1.0.24"
humantime = "2.1.0"
anyhow = "1.0.44"
eyre = "0.6.5"
