[package]

name = "llama_db"
version = "0.1.0"
authors = ["C.Solovev <constantine@fluence.one>"]
publish = false

[profile.release]

opt-level = "z"
lto = true

[lib]

name = "llama_db"
test = true
path = "src/main/rust/lib.rs"
crate-type = ["cdylib"]

[dependencies]

lazy_static = "1.1.0"
fluence_sdk = "0.0.4"
llamadb = { git="https://github.com/fluencelabs/llamadb.git", branch = "master" }

