#
# These settings describe defaults for the State machine.
#

# period after which the session becomes expired,
# measured as difference between the current `txCounter` value and its value at the last activity in the session.
session-expiration-period: 100000

# sequence of files with WASM module code
module-files: [
  "/vmcode"
]

# level of logging ( OFF / ERROR / WARN / INFO / DEBUG / TRACE )
log-level: "INFO"

#
# These settings describe reasonable defaults for WasmVm.
#

fluence.vm.client {

  # The maximum number of memory pages when a module doesn't say
  # Each page contains 65536 bytes of data, `65536*16=1MB
  defaultMaxMemPages: 64

  # If true, registers the spec test harness as 'spectest'.
  specTestRegister: false

}
