<!-- TRACE > DEBUG > INFO > WARN > ERROR > FATAL > ALL -->
<configuration>

    <property name="LOGGING_FILE" value="data_collector"/>
    <include resource="logging_pattern.xml"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>