* {
    box-sizing: border-box;
}

.container {
    background:#d3efdf;
    padding:25px;
    max-width:760px;
    margin:25px auto;
    overflow:hidden;
    border-radius:10px;
    border:4px solid #b1c9bb;
    font-family: sans-serif;
}

h1, h2 {
    margin:0;
    text-align:center;
    text-transform:uppercase;

}

h2 {
    font-size:20px;
    text-align:center;
    border-bottom:1px solid #b1c9bb;
    padding: 0 0 10px;
    color:#57635c;

}

.new-task-container {
    text-align:center;
}

.box {
    padding:10px 15px;
    border:2px solid #b1c9bb;
    border-radius:5px;
    background:#FFF;
    margin:15px 0;
}


.todo-list {
    float:left;
    width:46%;
}

.complete-list {
    float:right;
    width:46%;
}

ul {
    list-style:none;
    padding:0;
    margin:0;
}

li{
    padding:10px;
    border-bottom:1px dotted #CCC;
}

.delete {
    float:right;
}