[package]
name = "local-vm"
version = "0.1.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
ivalue-utils = { path = "../ivalue-utils" }
particle-args = { path = "../particle-args" }
particle-protocol = { path = "../../particle-protocol" }
particle-execution = { path = "../../particle-execution" }
now-millis = { path = "../now-millis"}
uuid-utils = { path = "../uuid-utils" }
fs-utils = { path = "../fs-utils"}
aquamarine = { path = "../../aquamarine"}
air-interpreter-fs = { path = "../air-interpreter-fs" }

air-interpreter-wasm = "=0.19.8"
avm-server = "0.13.0"

libp2p = "0.42"

fstrings = "0.2.3"
serde_json = "1.0.64"
parking_lot = "0.11.1"
log = "0.4.14"
maplit = "1.0.2"
