[package]
name = "connected-client"
version = "0.1.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
particle-protocol = { path = "../../particle-protocol" }
fluence-libp2p = { path = "../libp2p" }
test-constants = { path = "../test-constants"}
local-vm = { path = "../local-vm"}

fluence-keypair = { workspace = true }
libp2p = { workspace = true }

async-std = { workspace = true }
futures = "0.3.24"
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0.85"
log = "0.4.17"
derivative = "2.2.0"
eyre = { workspace = true }
parking_lot = { workspace = true }

[dev-dependencies]
rand = "0.8.5"
log = { version = "0.4.17", features = ["serde"] }
