ia-redis.fluence.one {
    errors visible
    log
    proxy / 167.71.63.184:25000 68.183.71.83:25000 206.81.20.160:25000 68.183.71.116:25000 {
        policy round_robin
        fail_timeout 1m
        max_fails 3
        try_duration 5s
        transparent
    }
}
