[package]
name = "server-config"
version = "0.2.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
config-utils = { path = "../config-utils" }
fs-utils = { path = "../fs-utils" }
particle-protocol = { path = "../../particle-protocol"}
fluence-libp2p = { path = "../libp2p" }
air-interpreter-fs = { path = "../air-interpreter-fs" }

fluence-keypair = { git = "https://github.com/fluencelabs/trust-graph", branch = "libp2p_version" }

libp2p = "0.42"

serde = { version = "1.0.118", features = ["derive"] }
humantime-serde = "1.0.1"

prometheus = "0.9.0"
log = "0.4.11"
rand = "0.7.3"
clap = "3.0.0-beta.2"
toml = "0.5.6"
bs58 = "0.3.1"
base64 = "0.13.0"
num_cpus = "1.13.0"
eyre = "0.6.5"
derivative = "2.2.0"
bytesize = {version = "1.1.0", features = ["serde"]}
serde_with = "1.11.0"
