[package]
name = "server-config"
version = "0.2.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
config-utils = { path = "../config-utils" }
trust-graph = "0.2.0"
particle-protocol = { path = "../../particle-protocol"}

air-interpreter-wasm = "0.7.3"
libp2p = { package = "fluence-fork-libp2p", version = "0.34.2" }

serde = { version = "1.0.118", features = ["derive"] }
humantime-serde = "1.0.1"

prometheus = "0.9.0"
log = "0.4.11"
rand = "0.7.3"
anyhow = "1.0.34"
clap = "2.33.0"
toml = "0.5.6"
bs58 = "0.3.1"
base64 = "0.13.0"
num_cpus = "1.13.0"
