[package]
name = "server-config"
version = "0.2.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
config-utils = { path = "../config-utils" }
particle-protocol = { path = "../../particle-protocol"}

trust-graph = "0.2.6"
fluence-identity = "0.2.7"
air-interpreter-wasm = "0.7.5"

libp2p = { package = "fluence-fork-libp2p", version = "0.36.0", features = ["tcp-tokio"] }

serde = { version = "1.0.118", features = ["derive"] }
humantime-serde = "1.0.1"

prometheus = "0.9.0"
log = "0.4.11"
rand = "0.7.3"
clap = "2.33.0"
toml = "0.5.6"
bs58 = "0.3.1"
base64 = "0.13.0"
num_cpus = "1.13.0"
eyre = "0.6.5"
