[package]
name = "fluence-libp2p"
version = "0.2.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
libp2p = { package = "fluence-fork-libp2p", version = "0.34.1" }
libp2p-secio = { package = "fluence-fork-libp2p-secio", version = "0.26.1" }
multihash = { version = "0.13", features = ["serde-codec"] }
futures = "0.3.5"
futures-util = "0.3.5"
async-std = "1.9.0"

serde = { version = "1.0.116", features = ["derive"] }
serde_json = "1.0.57"
bs58 = "0.3.1"

failure = "0.1.6"
base64 = "0.13.0"
log = "0.4.11"

[dev-dependencies]
rand = "0.7.3"
