[package]
name = "fluence-libp2p"
version = "0.2.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
libp2p = "0.42"
libp2p-noise = "0.34"
multihash = { version = "0.14", features = ["serde-codec"] }
futures = "0.3.13"
futures-util = "0.3.5"
async-std = "1.9.0"

serde = { version = "1.0.118", features = ["derive"] }
serde_json = "1.0.64"
bs58 = "0.3.1"

failure = "0.1.6"
base64 = "0.13.0"
log = "0.4.11"
rand = "0.7.3"

[dev-dependencies]
rand = "0.7.3"
