[package]
name = "workers"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
fs-utils = { workspace = true }
fluence-libp2p = { workspace = true }
fluence-keypair = { workspace = true }
core-manager = { workspace = true }

parking_lot = { workspace = true }
eyre = { workspace = true }
thiserror = { workspace = true }
serde = { workspace = true }
toml = "0.8.12"
toml_edit = { workspace = true }
log = { workspace = true }
libp2p = { workspace = true }
tracing = { workspace = true }
tokio = { workspace = true, features = ["fs", "sync"] }
derivative = { workspace = true }
types = { workspace = true }
async-trait = "0.1.80"

[dev-dependencies]
tempfile = { workspace = true }
tokio = { workspace = true, features = ["macros"] }
hex = { workspace = true }
