[package]

name = "counter"
version = "0.1.0"
authors = ["C.Solovev <constantine@fluence.one>"]
publish = false

[profile.release]

opt-level = 3
lto = true

[lib]

name = "counter"
path = "src/main/rust/lib.rs"
crate-type = ["cdylib"]

[dependencies]

fluence_sdk = { path = "../../../sdk/rust" }
