[package]
name = "core-manager"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
fxhash = "0.2.1"
range-set-blaze = "0.1.14"
cpu-utils = { git = "https://github.com/fluencelabs/capacity-commitment-prover/", branch = "main" }
ccp-shared = { git = "https://github.com/fluencelabs/capacity-commitment-prover/", branch = "main" }
multimap = { version = "0.10.0", features = ["serde"] }
bimap = { version = "0.6.3", features = ["serde"] }
toml = { version = "0.8.10" }
newtype_derive = "0.1.6"

tokio = { workspace = true, features = ["fs", "rt", "sync", "macros", "tracing"] }
async-trait.workspace = true
enum_dispatch.workspace = true
num_cpus.workspace = true
parking_lot.workspace = true
thiserror.workspace = true
serde = { workspace = true, features = ["derive"] }
types.workspace = true
tracing.workspace = true
serde_with.workspace = true
tokio-stream.workspace = true
futures.workspace = true


[dev-dependencies]
tempfile = { workspace = true }
hex.workspace = true
