http://dash.fluence.network, http://dashboard.fluence.network {
    proxy / http://dashboard:3000 {
        transparent
    }
}

#http://old.fluence.network, http://straw.fluence.network {
#    errors visible
#    proxy / http://dashboard:3000 {
#        transparent
#    }
#    root /root/old_dashboard/bundle
#    index maintenance.html
#    rewrite / { to {path} {path}/ / }
#}

http://nagios.fluence.network {
    errors visible
    proxy / http://nagios:80 {
        insecure_skip_verify
        transparent
    }
}
