[package]
name = "connection-pool"
version = "0.1.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
particle-protocol = { path = "../particle-protocol"}
fluence-libp2p = { path = "../crates/libp2p" }

libp2p = "0.42"

futures = "0.3.13"
log = "0.4.13"
serde = "1.0.130"
async-std = "1.9.0"
itertools = "0.10.0"

[dev-dependencies]
parking_lot = "0.11.1"
