[package]
name = "connection-pool"
version = "0.1.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
particle-protocol = { path = "../particle-protocol"}
trust-graph = "0.2.0"
fluence-libp2p = { path = "../crates/libp2p" }

libp2p = { package = "fluence-fork-libp2p", version = "0.34.2", features = ["tcp-tokio"] }

futures = "0.3.8"
log = "0.4.13"
serde = "1.0.118"
async-std = "1.9.0"
itertools = "0.10.0"

[dev-dependencies]
parking_lot = "0.11.1"
