http://geth.fluence.one:8546 {
    errors visible
    proxy / http://geth2.fluence.one:8545 http://geth1.fluence.one:8545 {
        policy first
        fail_timeout 1m
        max_fails 3
        try_duration 5s
        health_check /
        health_check_port 8545
        transparent
    }
}
