[package]
name = "particle-protocol"
version = "0.0.1"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
libp2p = { git = "https://github.com/fluencelabs/rust-libp2p", branch = "master" }
fluence-libp2p = { path = "../crates/libp2p" }
json-utils = { path = "../crates/json-utils" }

serde_json = "1.0.60"
futures = "0.3.5"
failure = "0.1.8"
serde = "1.0.118"
serde_derive = "1.0.118"
humantime-serde = "1.0.1"
log = "0.4.11"

[dev-dependencies]
rand = "0.7.3"
async-std = "1.6.5"
