[package]
name = "particle-protocol"
version = "0.3.0"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
libp2p = "0.42"
fluence-libp2p = { path = "../crates/libp2p" }
json-utils = { path = "../crates/json-utils" }
now-millis = { path = "../crates/now-millis" }

serde_json = "1.0.64"
futures = "0.3.13"
eyre = "0.6.5"
serde = "1.0.130"
serde_derive = "1.0.118"
humantime-serde = "1.0.1"
log = "0.4.11"
derivative = "2.1.3"
bs58 = "0.4.0"
itertools = "0.10.0"
base64 = "0.13.0"

[dev-dependencies]
rand = "0.7.3"
async-std = "1.9.0"
