[package]
name = "particle-services"
version = "0.0.1"
authors = ["Fluence Labs"]
edition = "2018"

[dependencies]
config-utils = { path = "../crates/config-utils" }

fluence-app-service = { git = "https://github.com/fluencelabs/fce", branch = "fixup" }
aquamarine-vm = { git = "https://github.com/fluencelabs/fce", branch = "fixup" }

libp2p = { git = "https://github.com/fluencelabs/rust-libp2p", branch = "master" }

futures = "0.3.5"
parking_lot = "0.11.0"
serde_json = "1.0.57"
serde = "1.0.116"
log = "0.4.11"
uuid = "0.8.1"
toml = "0.5.6"
